/* 사이드바 컨테이너 */
.sidebar {
  position: fixed; /* 화면에 고정 */
  height: 100%;
  top: 80px;
  left: 0; /* 사이드바를 왼쪽에 고정 */
  width: 230px; /* 사이드바 너비 */
  background-color: #70db9df3; /* 다크 배경 */
  overflow-y: auto; /* 스크롤 가능 */
  display: flex; /* 플렉스 레이아웃 */
  flex-direction: column; /* 세로 정렬 */
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
}

/* 링크 섹션 컨테이너 */
.sidebarSection {
  margin-bottom: 50px; /* 섹션 간 간격 */
}

/* 링크 스타일 */
.link {
  display: flex; /* 아이콘과 텍스트 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 15px 20px; /* 링크 패딩 */
  color: #000000; /* 기본 텍스트 색상 */
  text-decoration: none; /* 밑줄 제거 */
  transition: background 0.3s, color 0.3s; /* 부드러운 색상 전환 */
}

/* 링크 호버 효과 */
.link:hover {
  background-color: #b6ebcabb; /* 호버 시 배경색 */
  color: rgb(0, 0, 0); /* 호버 시 텍스트 색상 */
}

.hlink{
  color: #000000; /* 기본 텍스트 색상 */
  text-decoration: none; /* 밑줄 제거 */
  transition: background 0.3s, color 0.3s; /* 부드러운 색상 전환 */
}

/* 링크 호버 효과 */
.hlink:hover {
  color: rgb(0, 0, 0); /* 호버 시 텍스트 색상 */
}

.link i {
  margin-right: 10px; /* 아이콘과 텍스트 간격 */
  font-size: 1.2rem; /* 아이콘 크기 */
}

/* 부모 메뉴 (드롭다운) */
.dropdown {
  position: relative; /* 부모 요소를 기준으로 하위 메뉴 위치 지정 */
  cursor: pointer;
}

/* 하위 메뉴 */
.subMenu {
  display: none;
  background-color: rgba(62, 194, 154, 0.855); /* 하위 메뉴 배경색 */
  padding: 10px 0; /* 내부 여백 */
  flex-direction: column;
  position: absolute; /* 부모 요소의 흐름을 따라 위치 */
  top: 100%; /* 부모 요소 아래로 배치 */
  left: 0; /* 부모와 같은 왼쪽 정렬 */
  width: 100%; /* 부모와 동일한 너비로 확장 */
  z-index: 100; /* 상위 레이어 */
  overflow-y: auto; /* 스크롤 가능 */
}

/* 드롭다운 활성화 상태 */
.dropdown:hover .subMenu {
  display: flex; /* 마우스를 올리면 보이도록 설정 */
}


/* 세 번째 드롭다운에만 적용 */
.sidebarSection .dropdown:nth-child(3):hover + .link {
  margin-top: 160px; /* 원하는 높이로 조정 */
  transition: margin 0.3s ease, opacity 0.3s ease;
}

.sidebarSection .dropdown:nth-child(5):hover + .link {
  margin-top: 110px; /* 원하는 높이로 조정 */
  transition: margin 0.3s ease, opacity ease;
}
.sidebarSection .dropdown:nth-child(6):hover + .link {
  margin-top: 110px; /* 원하는 높이로 조정 */
  transition: margin 0.3s ease, opacity ease;
}

/* 하위 메뉴 링크 */
.subLink {
  padding: 10px 20px; /* 하위 메뉴 여백 */
  color: #000000;
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
}

/* 하위 메뉴 호버 효과 */
.subLink:hover {
  background-color: #b6ebcabd; /* 하위 메뉴 호버 배경색 */
  color: rgb(0, 0, 0);
}