<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메타러닝 시험 정보 등록</title>
    <link rel="icon" href="/static/images/logo.png" type="image/png">
    <!-- 헤더 CSS, JS(head에 적당히) -->
    <link rel="stylesheet" href="/static/css/admindashboard.css">
    <link rel="stylesheet" href="/static/css/header/adminsidebar.css">
    <link rel="stylesheet" href="/static/css/header/adminheader.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>
<div class="app-container">
    <!-- Header -->
    <div th:replace="~{fragments/adminheader :: adminheader}"></div>
    <div class="content-container">
        <!-- Sidebar -->
        <div th:replace="~{fragments/adminsidebar :: adminsidebar}"></div>
        <!-- Main Content -->
        <div class="main-content">

            <div class="d-flex flex-column justify-content-center align-items-center">

            <h1>시험 정보 등록</h1>
            <h2 th:text="${KDTSessionDTO.kdtSessionTitle}"></h2>

                <form method="POST" id="testForm">
                    <!-- CSRF 토큰 -->
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="hidden" name="kdtSessionId" th:value="${KDTSessionDTO.kdtSessionId}" />

                    <!-- 시험 정보 등록 영역 -->
                        <div>
                            <label for="kdtTestStartDate" class="form-label">
                                <i class="bi bi-calendar-event"></i> 시작 날짜/시간:
                            </label>
                            <input type="datetime-local" id="kdtTestStartDate" name="kdtTestStartDate" class="form-control" required />
                        </div>
                        <div>
                            <label for="kdtTestEndDate" class="form-label">
                                <i class="bi bi-calendar-event"></i> 종료 날짜/시간:
                            </label>
                            <input type="datetime-local" id="kdtTestEndDate" name="kdtTestEndDate" class="form-control" required />
                        </div>


                <div>
                    <label for="kdtTestTitle" class="form-label">
                        <i class="bi bi-file-earmark-text"></i> 시험 제목:
                    </label>
                    <input type="text" id="kdtTestTitle" name="kdtTestTitle" class="form-control" placeholder="예시 : 모의고사 1회" required />
                </div>
                <div >
                    <label for="kdtTestTitle" class="form-label">
                        <i class="bi bi-file"></i> 파일 업로드:
                    </label>
                    <div class="input-group">
                        <input type="file" id="csvFileInput" name="csvFileInput" class="form-control" accept=".csv" />
                        <button type="button" class="btn btn-primary" onclick="loadCSV()">
                            <i class="bi bi-upload"></i> 불러오기
                        </button>
                    </div>
                </div>

                <table id="testItem">
                    <tr>
                        <td>
                            <br>
                            <hr>
                            <br>
                            <div style="display: flex; justify-content: space-between; ">
                                <span> 1번 문제 </span>
                                <button type="button" onclick="deleteItem(this)" style="margin-left: auto;">삭제</button><br>
                            </div>
                            <!-- 시험 항목 질문 -->
                            <label>시험 문제</label><br>
                            <textarea type="text" name="kdtTestItemQuest" required> </textarea><br><br>

                            <!-- 답안 -->
                            <label>정답(번호):</label>
                            <input type="number" name="kdtTestItemAnswer" required/><br>

                            <!-- 답안 1 -->
                            <label>답안 1:</label>
                            <input type="text" name="kdtTestItemAnsw1" required/><br>

                            <!-- 답안 2 -->
                            <label>답안 2:</label>
                            <input type="text" name="kdtTestItemAnsw2" required/><br>

                            <!-- 답안 3 -->
                            <label>답안 3:</label>
                            <input type="text" name="kdtTestItemAnsw3" required><br>

                            <!-- 답안 4 -->
                            <label>답안 4:</label>
                            <input type="text" name="kdtTestItemAnsw4" required><br><br>

                            <!-- 점수 -->
                            <label>점수:</label>
                            <input type="number" name="kdtTestItemScore" required>

                            <!-- 카테고리 -->
                            <label>카테고리:</label>
                            <input type="text" name="kdtTestItemCategory" required><br>
                        </td>
                    </tr>
                </table>
                <br><hr><br>
                <div style="display: flex; justify-content: space-between; ">
                    <button type="button" onclick="addRow()">+ 추가</button>
                    <button type="button" th:onclick="'postItem('+${KDTSessionDTO.kdtSessionId}+')'"> 등록하기 </button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>


<script>
    let currentQuestionNumber = 2; // 문제 번호 추적 변수
    function loadCSV() {
        // 파일 선택기에서 파일을 가져오기
        const fileInput = document.getElementById('csvFileInput');
        const file = fileInput.files[0];

        if (!file) {
            alert('CSV 파일을 선택해 주세요.');
            return;
        }

        const reader = new FileReader();

        // 파일 읽기가 완료되면 호출되는 함수
        reader.onload = function(event) {
            const content = event.target.result;
            const rows = content.split('\n'); // 행별로 나누기

            // CSV의 첫 번째 행은 헤더이므로 제외하고, 그 외 행을 처리
            rows.slice(1).forEach(row => {
                const columns = row.split(',');

                if (columns.length > 1) {
                    addItem(columns);
                }
            });
            // CSV 파일을 성공적으로 불러왔다는 알림을 표시
            alert('성공적으로 불러왔습니다!');
        };

        // 파일을 텍스트로 읽기
        reader.readAsText(file);
    }

    // 테이블에 새로운 행을 추가하는 함수
    function addItem(columns) {
        const table = document.getElementById("testItem");

        const rows = table.rows;
        for (let i = 0; i < rows.length; i++) {
            const inputs = rows[i].cells[0].getElementsByTagName("input");
            const textareas = rows[i].cells[0].getElementsByTagName("textarea");
            let shouldDelete = true; // 기본적으로 삭제할 것이라 가정

            // 각 input 요소를 확인하여 하나라도 값이 비어 있지 않으면 삭제하지 않음
            for (let j = 0; j < inputs.length; j++) {
                if (inputs[j].value.trim() !== "") {
                    shouldDelete = false; // 값이 비어 있지 않으면 삭제하지 않음
                    break;
                }
            }
                // 각 textarea 요소를 확인하여 하나라도 값이 비어 있지 않으면 삭제하지 않음
            for (let k = 0; k < textareas.length; k++) {
                if (textareas[k].value.trim() !== "") {
                    shouldDelete = false; // 값이 비어 있지 않으면 삭제하지 않음
                    break;
                }
            }

            // 조건에 맞으면 행을 삭제
            if (shouldDelete) {
                table.deleteRow(i);
                i--; // 삭제 후 인덱스 재조정
            }
        }

        const newRow = table.insertRow(table.rows.length);

        // 새 행에 셀을 추가하여 CSV 데이터 입력
        newRow.innerHTML = `
            <td>
                <br>
                <hr>
                <br>
                <div style="display: flex; justify-content: space-between; ">
                    <span> ${currentQuestionNumber}번 문제 </span>
                    <button type="button" onclick="deleteItem(this)" style="margin-left: auto;">삭제</button><br>
                </div>

                <label>시험 문제</label><br>
                <textarea name="kdtTestItemQuest" required>${columns[0]}</textarea> <br><br>

                <label >정답(번호):</label>
                <input type="number" name="kdtTestItemAnswer" value="${columns[1]}" required><br>

                <label >답안 1:</label>
                <input type="text" name="kdtTestItemAnsw1" value="${columns[2]}" required><br>

                <label >답안 2:</label>
                <input type="text" name="kdtTestItemAnsw2" value="${columns[3]}" required><br>

                <label >답안 3:</label>
                <input type="text" name="kdtTestItemAnsw3" value="${columns[4]}" required><br>

                <label >답안 4:</label>
                <input type="text" name="kdtTestItemAnsw4" value="${columns[5]}" required><br><br>

                <label >점수:</label>
                <input type="number" name="kdtTestItemScore" value="${columns[6]}" required><br>

                <label >카테고리:</label>
                <input type="text" name="kdtTestItemCategory" value="${columns[7]}" required><br>
            </td>
        `;
        adjustQuestionNumbers();
        addClassToInputs();
    }

    // 문제 삭제 함수
    function deleteItem(button) {
        // 클릭한 버튼의 부모 <tr>를 찾아서 삭제
        var tr = button.parentElement.parentElement.parentElement;
        tr.remove();

        // 문제 번호 재조정
        adjustQuestionNumbers();
    }

    // "+ 추가" 버튼 클릭 시 비어 있는 행 추가 함수
    function addRow() {
        const table = document.getElementById("testItem");
        const newRow = table.insertRow(table.rows.length); // 마지막 행 뒤에 추가

        newRow.innerHTML = `
            <td>
                <br>
                <hr>
                <br>
                <div style="display: flex; justify-content: space-between; ">
                    <span> ${currentQuestionNumber}번 문제 </span>
                    <button type="button" onclick="deleteItem(this)" style="margin-left: auto;">삭제</button><br>
                </div>

                <label>시험 문제</label><br>
                <textarea name="kdtTestItemQuest" required> </textarea><br><br>

                <label >정답(번호):</label>
                <input type="number" name="kdtTestItemAnswer" required><br>

                <label >답안 1:</label>
                <input type="text" name="kdtTestItemAnsw1" required><br>

                <label >답안 2:</label>
                <input type="text" name="kdtTestItemAnsw2" required><br>

                <label >답안 3:</label>
                <input type="text" name="kdtTestItemAnsw3" required><br>

                <label >답안 4:</label>
                <input type="text" name="kdtTestItemAnsw4" required><br><br>

                <label >점수:</label>
                <input type="number" name="kdtTestItemScore" required>

                <label >카테고리:</label>
                <input type="text" name="kdtTestItemCategory" required><br>
            </td>
        `;
        adjustQuestionNumbers(); // 문제 번호 증가
        addClassToInputs();
    }

    function adjustQuestionNumbers() {
        const rows = document.querySelectorAll("#testItem td");
        let counter = 1;
        rows.forEach((row) => {
            const span = row.querySelector('span');
            if (span) {
                span.textContent = `${counter}번 문제`;
                counter++;
            }
        });
    }

    function getCsrfToken() {
        return document.querySelector('meta[name="_csrf"]').getAttribute('content');
    }

    function getCsrfHeaderName() {
        return document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
    }

    const postItem = async (sessionId) => {
        const form = document.getElementById('testForm'); // 폼 요소를 가져옵니다.

        // 폼의 유효성 검사
        if (!form.checkValidity()) {
            // 유효하지 않으면 경고 메시지
            alert("모든 항목을 작성해주세요.");
            // 유효성 검사를 실패한 첫 번째 필드로 포커스 이동
            const firstInvalidField = form.querySelector(':invalid');
            if (firstInvalidField) {
                firstInvalidField.focus(); // 첫 번째 잘못된 필드로 포커스를 이동
            }
            return; // 전송을 막습니다.
        }

        const startDate = document.querySelector('#kdtTestStartDate').value;
        const endDate = document.querySelector('#kdtTestEndDate').value;

        const start = new Date(startDate);
        const end = new Date(endDate);

        if (start > end) {
            alert("시작시간은 종료시간 이전이어야 합니다.");
            document.querySelector('#kdtTestStartDate').focus(); // 포커스를 시작 날짜로 이동
            return;
        }

        // CSRF 토큰과 헤더 이름을 가져옵니다.
        const csrfToken = getCsrfToken();
        const csrfHeaderName = getCsrfHeaderName();

        // 폼 데이터를 JSON으로 변환
        const formData = new FormData(form);
        // KDTTestDTO 객체를 만듭니다.
        const kdtTest = {
            kdtSessionId: formData.get("kdtSessionId"),
            kdtTestTitle: formData.get("kdtTestTitle"),
            kdtTestStartDate: formData.get("kdtTestStartDate"),
            kdtTestEndDate: formData.get("kdtTestEndDate")
        };

        // KDTTestDetailsDTO 구조로 데이터 객체를 만듭니다.
        const jsonData = {
            kdtTest: kdtTest, // KDTTestDTO 객체
            kdtTestItems: []  // KDTTestItemDTO 배열
        };

        // 각 문제 항목을 KDTTestItemDTO로 변환하여 배열에 추가
        const testItems = document.querySelectorAll('#testItem tr');
        testItems.forEach((item, index) => {
            const inputs = item.querySelectorAll('input');
            const textareas = item.querySelectorAll('textarea');
            const testItem = {
                kdtTestItemQuest: textareas[0].value,
                kdtTestItemAnswer: parseInt(inputs[0].value),
                kdtTestItemAnsw1: inputs[1].value,
                kdtTestItemAnsw2: inputs[2].value,
                kdtTestItemAnsw3: inputs[3].value,
                kdtTestItemAnsw4: inputs[4].value,
                kdtTestItemScore: parseInt(inputs[5].value),
                kdtTestItemCategory: inputs[6].value
            };
            jsonData.kdtTestItems.push(testItem);
        });

        // 예시: 서버로 JSON 데이터 전송
        try {
            const response = await fetch('/api/admin/KDT/'+sessionId+'/test', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json', // JSON 형식으로 요청 보냄
                    [csrfHeaderName]: csrfToken
                },
                body: JSON.stringify(jsonData) // JSON.stringify()로 데이터를 변환하여 전송
            });

            if (response.ok) {
                alert("시험 정보가 성공적으로 등록되었습니다.");
                window.location.href = '/view/admin/KDT/' + sessionId + '/test/list';
            } else if (response.status === 400) {
                // 400 Bad Request
                alert("시작시간은 종료시간 이전이어야 합니다.");
                document.querySelector('input[name="kdtTestStartDate"]').focus();
            } else {
                alert("등록에 실패했습니다. 다시 시도해주세요.");
            }
        } catch (error) {
            console.error('Error:', error);
            alert("서버와의 통신에 실패했습니다.");
        }
    }

    function addClassToInputs() {
    document.querySelectorAll('input').forEach(input => {
        input.classList.add('form-control');
    });

    document.querySelectorAll('textarea').forEach(textarea=> {
        textarea.classList.add('form-control');
        textarea.style.overflow = 'hidden'; // 스크롤바 숨김
        textarea.style.resize = 'none'; // 사용자가 크기 조정 불가

        // 초기 높이를 설정
        textarea.style.height = textarea.scrollHeight + 'px';

        // 입력 이벤트에 따라 높이 조정
        textarea.addEventListener('input', () => {
        textarea.style.height = 'auto'; // 높이를 초기화
        textarea.style.height = textarea.scrollHeight + 'px'; // 텍스트에 맞는 높이 설정
        });
    });

    document.querySelectorAll('table').forEach(table=> {
        table.style.width = '100%';
    });

    document.querySelectorAll('button').forEach(button => {
        if (button.textContent.trim() === '삭제') {
            // Bootstrap 삭제 버튼 클래스 추가
            button.classList.add('btn', 'btn-danger');
        }

        if (button.textContent.trim() === '+ 추가') {
            // Bootstrap 삭제 버튼 클래스 추가
            button.classList.add('btn', 'btn-primary');
        }

        if (button.textContent.trim() === '등록하기') {
            // Bootstrap 삭제 버튼 클래스 추가
            button.classList.add('btn', 'btn-success');
        }
    });
    }

    window.onload = function() {
    addClassToInputs(); // 페이지 로드 후 실행
};
</script>
</body>
</html>